.el-menu {
    border-right: none;

}
.el-submenu .el-menu-item {
    font-size: 14px;
    text-indent: 1em;
    &.is-active{
        background-color: #fd8873 !important;
        color: #FFF;
    }
}
/**修改一级菜单*/
.el-submenu {
    &.is-active.is-opened .el-submenu__title{
        background-color: #f3414a !important;
    }
}