@import './normalize.scss';
@import './elementui.scss';

$theme-color : aqua;

.pull-left{
    float: left;
}
.pull-right{
    float: right;
}


/*首页*/
$header-height: 75px;
$nav-width : 250px;


// body{
//     background-color: red;
// }
// h1{
//     color: green;
// }